#links-list {
  margin: 20px;
  text-align: center;
}

#links-list a {
  display: inline-block;
  white-space: normal;
  padding: 20px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: rgb(33, 33, 33);
}

#twitter {
  background-color: #55ACEE;
}

#googleplus {
  background-color: #DB4437;
}

#github {
  background-color: #f5f5f5;
}

#steam {
  background: -webkit-linear-gradient(left, #1B2838, #171A21);
  background: -moz-linear-gradient(left, #1B2838, #171A21);
  background: -ms-linear-gradient(left, #1B2838, #171A21);
  background: -o-linear-gradient(left, #1B2838, #171A21);
  color: rgb(238, 238, 238) !important;
}

#spotify {
  background-color: #2ebd59;
}

#reddit {
  background-color: #cee3f8;
}

#voat {
  background: -webkit-linear-gradient(left, #A08FFF, #6BC8FC);
  background: -moz-linear-gradient(left, #A08FFF, #6BC8FC);
  background: -ms-linear-gradient(left, #A08FFF, #6BC8FC);
  background: -o-linear-gradient(left, #A08FFF, #6BC8FC);
}
