body {
  margin: 10px;
  min-width: 600px;
  background-image: url("image/grey.png");
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: rgb(80, 80, 80);
  text-align: center; /* for the footer */
}

nav {
  max-width: 1900px;
  margin: 0 auto 10px auto;
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  background-color: rgb(80, 80, 80);
}

nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav li {
  display: table-cell;
}

nav li.active a {
  background-color: rgb(240, 240, 240);
  color: rgb(80, 80, 80);
}

nav a {
  color: white;
  display: block;
  font-size: 24pt;
  padding: 10px;
}

nav a:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  text-decoration: none;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}

aside {
  float: left;
  width: 200px;
  padding: 10px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 0 20px rgba(0, 0, 0, .50);
  color: white;
}

aside h1 {
  margin: 0;
  text-align: center;
  font-size: 24pt;
}

aside hr {
  border: 1px solid;
  margin: 4px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin: 10px 0;
}

article {
  margin-left: 230px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 20px rgba(0,0,0,.50);
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

footer {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  text-align: center;
  font-size: 80%;
  color: white;
}

footer a {
  color: lightgray;
}