body {
  padding: 10px;
  margin: auto;
  min-width: 580px;
  max-width: 1900px;
  background-image: url("image/grey.png");
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: rgb(80, 80, 80);
  text-align: center; /* for the footer and nav bar*/
}

header, footer, aside {
  background-color: rgb(80, 80, 80);
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  color: white;
}

header {
  margin: 0 auto 10px auto;
}

header p {
  margin: 0;
  padding: 5px;
}

nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav li {
  display: table-cell;
}

nav li.active a {
  background-color: rgb(240, 240, 240);
  color: rgb(80, 80, 80);
}

nav a {
  color: white;
  display: block;
  font-size: 2em;
  padding: 10px;
}

nav a:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  text-decoration: none;
}

#content {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}

article {
  padding: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 20px rgba(0,0,0,.50);
  margin-bottom: 10px;
}

.has-sidebar main {
  margin-right: 230px;
}

aside {
  float: right;
  width: 200px;
  padding: 10px;
}

aside h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

aside hr {
  border: 1px solid;
  margin: 4px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin: 10px 0;
}

h1 {
  margin: 0 0 .5em 0;
  font-weight: normal;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: inline-block;
  padding: 10px;
  font-size: .8em;
}

footer a {
  color: lightgray;
}