html {
  font-size: 16px;
}

body {
  margin: auto;
  min-width: 320px;
  background-color: #D1DBBD;
  font-family: "Raleway", sans-serif;
}

::selection {
  background-color: #91AA9D;
  color: #FCFFF5;
}

::-moz-selection {
  background-color: #91AA9D;
  color: #FCFFF5;
}

header {
  margin: 10px;
  padding: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  text-align: center;
}

header a {
  color: #FCFFF5;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

nav {
  margin: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #193441;
  color: #FCFFF5;
  transition: box-shadow .125s, transform .125s;
}

nav li:first-of-type a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

nav li:last-of-type a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

nav a:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;

  transform: scale(1.05);
}

nav a.active {
  background-color: #91AA9D;
  color: #193441;
}

aside {
  margin: 10px;
  padding: 10px;
  background-color: #91AA9D;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 3px;
}

aside img {
  display: block;
  width: 100%;
  border-radius: 3px;
}

aside.related {

}

aside h1 {
  margin: -10px -10px 0;
  padding: 10px;
  font-size: 36px;
  font-weight: normal;
  background-color: #193441;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FCFFF5;
}

aside ul {
  margin: 0;
  padding: 10px 10px 0;
  list-style: none;
}

aside a {
  color: #193441;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

main {
  display: block;
  overflow: hidden;
  margin: 10px;
  background-color: #FCFFF5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #193441;
}

main h1 {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  background-color: #3E606F;
  color: #FCFFF5;
}

main h2 {
  margin: 10px;
  font-size: 24px;
}

main p {
  margin: 10px 20px 20px;
}

main a {
  text-decoration: none;
  color: #3E606F;
  transition: color 1s;
}

main a:hover {
  text-decoration: underline;
  color: #91AA9D;
}

footer {
  margin: 10px;
  padding: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

footer ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer li {
  margin-bottom: 10px;
  list-style: none;
  color: #FCFFF5;
}

footer li:last-of-type {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #91AA9D;
}

footer a:hover {
  text-decoration: underline;
}
