body {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: auto;
  min-width: 580px;
  max-width: 1400px;
  font-family: "Raleway", sans-serif;
  background-color: #D1DBBD;
}

/* HACK: Prevent font boosting in webkit */
body * {
  max-height: 1000000em;
}

::selection {
  background-color: #91AA9D;
  color: #FCFFF5;
}

::-moz-selection {
  background-color: #91AA9D;
  color: #FCFFF5;
}

header {
  margin: 10px;
  padding: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  text-align: center;
}

header a {
  color: #FCFFF5;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

nav {
  margin: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

nav ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

nav li {
  display: table-cell;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  background-color: #193441;
  color: #FCFFF5;

  transition: box-shadow .125s, transform .125s;
}

nav li:first-of-type a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

nav li:last-of-type a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

nav a:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;

  transform: scale(1.05);
}

nav a.active {
  background-color: #91AA9D;
  color: #193441;
}

img {
  float: left;
  width: 300px;
  margin: 10px;
}

aside {
  float: left;
  margin: 0 10px 10px;
  padding: 0;
  max-width: 400px;
  background-color: #91AA9D;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 3px;
}

aside.related {
  float: right;
}

aside h1 {
  margin: 0;
  padding: 10px;
  font-size: 2em;
  font-weight: normal;
  background-color: #193441;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FCFFF5;
}

aside ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

aside a {
  color: #193441;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

main {
  /* Internet Explorer bug fix */
  display: block;
  overflow: hidden;
  margin: 10px;
  background-color: #FCFFF5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #193441;
}

main h1 {
  margin: 0;
  padding: 10px 20px;
  font-size: 5em;
  font-weight: normal;
  background-color: #3E606F;
  color: #FCFFF5;
}

main h2 {
  margin: 10px;
  font-size: 1.4em;
}

main p {
  margin: 15px;
  text-indent: 1em;
}

main a {
  text-decoration: none;
  color: #3E606F;
  transition: color 1s;
}

main a:hover {
  text-decoration: underline;
  color: #91AA9D;
}

footer {
  clear: both;
  margin: 10px;
  padding: 10px;
  background-color: #193441;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

footer ul {
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: .9em;
}

footer li {
  display: table-cell;
  text-align: center;
  color: #FCFFF5;
}

footer li:first-of-type {
  text-align: left;
}

footer li:last-of-type {
  text-align: right;
}

footer a {
  text-decoration: none;
  color: #91AA9D;
}

footer a:hover {
  text-decoration: underline;
}
